{% extends "base.html" %}
{% block content %}
<div class=about_content>
    <h1>I am Kathy!</h1>
    <p>My name is Kathy Meza, I am a Chicago-based artist.
    I am currently enrolled in the illustration program at Columbia College Chicago.
    <br>
    My hobbies include sewing, baking, thrifting, watching movies, making a playlist and going to concerts.
    <br>
    I find inspiration in nature, animals, surrealism, and vibrant colors.<br>
    My illustration process begins with my playing my own curated playlist and choosing a color palette. I prefer an intuitive approach by sketching organic shapes and objects. After that I gather inspiration in order to create concepts and compositions that will gradually evolve into a final illustration.</p>

    <h3>Education</h3>
    <ul>
      <li>2018-2019 Columbia College Chicago</li>
      <li>2020-2021 City Colleges of Chicago</li>
      <li>2022-Current Columbia College of Chicago</li>
    </ul>
    I can be reached by email at katmclass@gmail.com
    <h3>Skills</h3>
    <ul>
      <li>Procreate</li>
      <li>Adobe Illustrator</li>
      <li>Photoshop</li>
    </ul>

    <h7>All artwork by Kathy Meza,
    <br>Webdesigned by Kathy Meza & Jimmy Palmer</h7>
</div>
{% endblock %}
